<div class="container-fluid mt-3">

  <section class="jumbotron talent-jumbotron d-flex align-items-end" style="background: linear-gradient(rgba(37, 37, 37, 0), rgb(39, 39, 39)), url(<%= asset_path 'talents/share-your-talent-blendin.jpg' %>) no-repeat top center; background-size:cover; color:#FFF; padding: 6rem 0;">
    <div class="ml-5">
      <h1 class="jumbotron-heading">
        <%= t('dashboard.index.talent_teach_card_title') %>
      </h1>
      <p class="lead"><%= t('dashboard.index.talent_teach_card_subtitle') %></p>
      <div>
        <a href="#learn-more-talent" class="btn btn-outline-light btn-lg"><%= t('.learn_more') %></a>
      </div>
    </div>
  </section>
  <section id="learn-more-talent" class="mt-5">
    <div class="row">
      <div class="col-md-7 order-md-2 align-items-center">
        <div class="d-flex  mb-4">
          <% if current_user.local? %>
            <p class="lead text-center"><b><%= raw t('.teach_talent_cta_text_local') %></b> <br><%= link_to t('.click_here_cta'), new_talent_path, class: "btn btn-outline-primary btn-lg mt-3" %></p><br>
            <p class="lead text-center"><b><%= raw t('.learn_talent_cta_text_local') %></b> <br><%= link_to t('.click_here_cta'), all_talents_path, class: "btn btn-outline-primary btn-lg mt-3" %></p>
          <% else %>
            <p class="lead text-center"><b><%= raw t('.teach_talent_cta_text_newcomer') %></b> <br><%= link_to t('.click_here_cta'), new_talent_path, class: "btn btn-outline-primary btn-lg mt-3" %></p><br>
            <p class="lead text-center"><b><%= raw t('.learn_talent_cta_text_newcomer') %></b> <br><%= link_to t('.click_here_cta'), all_talents_path, class: "btn btn-outline-primary btn-lg mt-3" %></p>
          <% end %>
        </div>
        <div>
          <h2><%= raw t('.info_headline') %></h2>
          <% if current_user.local? %>
            <p class="lead"><%= raw t('.info_content_local') %></p>
          <% else %>
            <p class="lead"><%= raw t('.info_content_newcomer') %></p>
          <% end %>
        </div>
      </div>
      <div class="col-md-5 order-md-1 mb-5">
        <%= image_tag "talents/meeting-talent-blendin.jpg", class: "img-fluid mx-auto" %>
      </div>
    </div>
  </section>
  <!-- <section>
    <div class="row justify-content-md-center">
      <div class="col-md-7 d-flex align-items-center">
      <% if current_user.local? %>
        <p class="lead text-center"><b><%= raw t('.teach_talent_cta_text_local') %></b> <br><%= link_to t('.click_here_cta'), new_talent_path, class: "btn btn-outline-primary btn-lg mt-3" %></p><br>
        <p class="lead text-center"><b><%= raw t('.learn_talent_cta_text_local') %></b> <br><%= link_to t('.click_here_cta'), all_talents_path, class: "btn btn-outline-primary btn-lgmt-3" %></p>
      <% else %>
        <p class="lead text-center"><b><%= raw t('.teach_talent_cta_text_newcomer') %></b> <br><%= link_to t('.click_here_cta'), new_talent_path, class: "btn btn-outline-primary btn-lg mt-3" %></p><br>
        <p class="lead text-center"><b><%= raw t('.learn_talent_cta_text_newcomer') %></b> <br><%= link_to t('.click_here_cta'), all_talents_path, class: "btn btn-outline-primary btn-lg mt-3" %></p>
      <% end %>
    </div>
    </div>
  </section> -->

</div>
