<div class="container mt-5">
  <h2>What would you like to do today?</h2>
  <div class="row my-md-4">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to events_path, class:"card shadow-sm dashboard-card-lnk" do %>
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-users"></i> <%= t('.events_card_title') %></h4>
          <p class="card-text"><%= t('.events_card_subtitle') %></p>
        </div>
      <% end  %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to talents_path, class:"card shadow-sm dashboard-card-lnk" do %>
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-diagnoses"></i> <%= t('.talent_teach_card_title') %></h4>
          <p class="card-text"><%= t('.talent_teach_card_subtitle') %></p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to learn_talents_path, class:"card shadow-sm dashboard-card-lnk" do %>
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-lightbulb"></i> <%= t('.talent_learn_card_title') %></h4>
          <p class="card-text"><%= t('.talent_learn_card_subtitle') %></p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to "/pages/donate", class:"card shadow-sm dashboard-card-lnk" do %>
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-hand-holding-usd"></i> <%= t('.donate_card_title') %></h4>
          <p class="card-text"><%= t('.donate_card_subtitle') %></p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to networks_path, class:"card shadow-sm dashboard-card-lnk" do %>
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-globe"></i> <%= t('.network_card_title') %></h4>
          <p class="card-text"><%= t('.network_card_subtitle') %></p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to "", class:"card shadow-sm dashboard-card-lnk" do %>
        <div class="card-body">
          <h4 class="card-title"><i class="fas fa-handshake"></i> <%= t('.partner_card_title') %></h4>
          <p class="card-text"><%= t('.partner_card_subtitle') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
