<li>                  
    <%= active_link_to chat_room_path(chat_room.token), class:"clearfix" do %>
        <% chat_room.users.each do |user| %>
		  		<% if  user != current_user %>
		  			<figure class="avatar avatar-lg">
					  	<img src="<%= user.picture.large_avatar %>">
						</figure>
						<div class="info">
							<h5><%= user.name %></h5>
		        	<% if  !chat_room.messages.empty? %>
									<%= truncate(chat_room.messages.last.body, length: 15) %>
				     	<% end %>
		        </div>
		  		<% end %>
    	<% end %>					
       	<%= link_to 'Delete', chat_room_path(chat_room.token), method: :delete, data: { confirm: 'Are you sure?' },class:" delete-chat-btn" %>
    <% end %>
</li>
