<%= content_for :body_class, "chat-view" %>

<%= content_for :aside_left do %>
  	<aside class="aside aside-1 open-chat" id="aside-panel" >
			<h6 class="title-line title">
				<%= t('default.openchat') %> 
				<button class="toggle-aside-panel cs-btn">Close</button>
			</h6>
			<ul class="list">
	 	 		<li>
		 	 		<% @subscriptions.each do |subscription| %>
			 	 		<%= active_link_to chat_room_path(subscription.chat_room.token), class:"clearfix" do %>
			 	 			<% subscription.members.each do |user| %>
			 	 				<% user = User.find(user) %>
				 	 				<% if  user != current_user %>
						  			<figure class="avatar avatar-lg">
									  	<img src="<%= user.picture.small_avatar %>">
										</figure>
										<div class="info">
											<h5><%= user.name %></h5>
						        </div>
						  		<% end %>
				  		<% end %>
				  		<%= link_to 'Delete', chat_room_path(subscription.chat_room.token), method: :delete, data: { confirm: 'Are you sure?' },class:" delete-chat-btn" %>
				  	<% end %>
		  		<% end %>

	  		</li>
			</ul>
  	</aside>
<% end %>

<button class="toggle-aside-panel on-btn">Open rooms ></button>

<section class="main message-layout">
	<div id="center-side" class="chat-messages-layout">
		<%= will_paginate @messages %>
		<div id="messages" class="clearfix" data-chat-room-id="<%= @chat_room.id %>">
		  <%= render @messages.reverse %>
		</div>

		<%= form_for @message, url: '#' do |f| %>
			<div id="text-input">
		  	<%= hidden_field_tag 'chat_room_id', @chat_room.id %>
		  	<div class="new-message-layout">
		    	<%= f.text_field :body, class: 'form-control form-input', :placeholder => "Type a message..." %>
  				<span id="typing">...</span>
					<%= f.submit "Send", class: 'btn-send' %>
		  	</div>
			</div>
		<% end %>

	</div>
</section>

<script>
	window.userId = <%= current_user.id %>
</script>