<%= form_for grid, options do |f| -%>
  <% grid.filters.each do |filter| %>
    <div class="form-group">
      <%= f.datagrid_label filter, class:"col-sm-3 control-label" %>
      <div class="col-sm-9">
      <%= f.datagrid_filter filter, partials: options[:partials], class:"form-control input-sm" %>
      </div>
    </div>
  <% end %>
  <div class="col-12">
    <p class="text-right">
    <%= f.submit I18n.t("datagrid.form.search").html_safe, :class => "btn btn-space btn-primary" %>
    <%# https://github.com/rails/rails/pull/14949 -%>
    <% empty_parameter = Rails.version >= "4.1.0" && Rails.version <= '4.1.2' ? nil : {}-%>
    <%= link_to I18n.t('datagrid.form.reset').html_safe, url_for(grid.to_param => empty_parameter), :class => "btn btn-space btn-default" %>
    </p>
  </div>
<% end -%>
