<section class="EditProfile clearfix">
    <div class="sm-col-6 lg-col-6 mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

          <label class="Label">Email</label>
          <%= f.email_field :email, autofocus: true, class:"Input"%>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <label class="Label">Full name</label>
          <%= f.text_field :username, class:"Input" %>

          <label class="Label">About me</label>
          <%= f.text_area :about, class:"Input" %>


          <label class="Label">Where do you live?</label>
          <%= f.text_field :full_street_address, class:"Input AddressField" %>
          <i>(we need your current password to confirm your changes)</i>

          <label class="Label">Phone number</label>
          <%= f.text_field :phone, required: 'true', class: "Input" %>
          <i>(Possibly the one you have whatsapp on)</i>

          <label class="Label">Job</label>
          <%= f.text_field :job, class: "Input" %>

          <label class="Label">Date of Birth</label>
          <%= f.date_select :birthday, {start_year: 1960, end_year: 2000}, { class: 'Input Select'} %>

          <label class="Label">Country of origin</label>
          <%= f.text_field :country, id:"country-js", class:"Input AddressField" %>

          <label class="Label">Current password</label> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", class:"Input" %>

          <%= f.submit "Update", class:"Button" %>
      <% end %>

      <h3>Cancel my account, Unhappy? </h3>

      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"Button" %>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
  <script>
  $(function () {

    $("input[type='submit']").prop("disabled", true);
    $("input#user_phone").formance("format_phone_number")

    $("input#user_phone").formance("format_phone_number")
      .on( 'keyup change blur', function (event) {
       if ( $(this).formance('validate_phone_number') )
         $("input[type='submit']").prop("disabled", false);
       else
         $("input[type='submit']").prop("disabled", true);
     });


    var placesAutocomplete = places({
      container: document.querySelector('.AddressField'),
      type: 'city',
      aroundLatLngViaIP: false,
      templates: {
        value: function(suggestion) {
          return suggestion.name;
        }
      }
    });

    var placesAutocomplete = places({
      container: document.querySelector('#country-js'),
      type: 'country',
      aroundLatLngViaIP: false,
      templates: {
        value: function(suggestion) {
          return suggestion.name;
        }
      }
    });



  });
</script>
