<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <div class="social-links mb-3">
          <a target="_blank" href="http://www.facebook.com/blendinnow"><i class="fab fa-lg fa-facebook-square"></i></a>
          <a target="_blank" href="https://www.facebook.com/blendinnow"><i class="fab fa-lg fa-facebook-messenger"></i></a>
          <a target="_blank" href="http://www.instagram.com/blendinnow"><i class="fab fa-lg fa-instagram"></i></a>
          <a target="_blank" href="https://vimeo.com/259168746"><i class="fab fa-lg fa-vimeo"></i></a>
        </div>

        <h6 class="mb-1"><%= t('footer.languages') %></h6>
        <%= link_to 'Nederlands', url_for( :locale => 'nl' ), class: "lang-lnk right-border" %> or
        <%= link_to 'English', url_for( :locale => 'en' ), class: "lang-lnk"  %>
        <small class="d-block mb-3 text-muted mt-3">© 2017-2018</small>
      </div>
      <div class="col-6 col-md">
        <h5 class="mb-3"><%= t('footer.about') %></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://www.blendinnow.nl/ons-team/"><%= t('footer.team') %></a></li>
          <li><a class="text-muted" target="_blank" href="https://www.blendinnow.nl/nieuws/"><%= t('footer.news') %></a></li>
          <li><a class="text-muted" target="_blank" href="https://www.blendinnow.nl/galerij/"><%= t('footer.gallery') %></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="mb-3"><%= t('footer.support') %></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="mailto:info@blendinnow.nl"><%= t('footer.contact') %></a></li>
          <li><a class="text-muted" href="https://www.iubenda.com/privacy-policy/7951305"><%= t('footer.privacy') %></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="mb-3"><%= t('footer.involvement') %></h5>
        <ul class="list-unstyled text-small">
          <li><%= link_to t('footer.meet'), events_path, class: "text-muted" %></li>
          <li><%= link_to t('footer.teach'), talents_path, class: "text-muted" %></li>
          <li><%= link_to t('footer.donate'), pages_path("donate"), class: "text-muted" %></li>
          <li><%= link_to t('footer.share'), networks_path, class: "text-muted" %></li>
          <li><%= link_to t('footer.become'), "/pages/partner", class: "text-muted" %></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
