<p id="notice"><%= notice %></p>

<h1>Network Applications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sector</th>
      <th>Network</th>
      <th>City</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @networks.each do |network| %>
      <tr>
        <td><%= network.name %></td>
        <td><%= network.sector %></td>
        <td><%= network.network %></td>
        <td><%= network.city %></td>
        <td><%= network.email %></td>
        <td><%= link_to 'Show', network %></td>
        <td><%= link_to 'Edit', edit_network_path(network) %></td>
        <td><%= link_to 'Destroy', network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Network Application', new_network_path %>
