<section class="NetworkPage clearfix">
  <div class="sm-col-5 lg-col-5 mx-auto">
    <%= render 'header'%>
    <h1><%= raw t(".title") %></h1>
    <p class="mb3"><%= raw t(".body") %></p>
    <div class="step">
      <h3><%= raw t(".step_title") %></h3>
      <ul>
        <li><%= raw t(".step_one") %></li>
        <li><%= raw t(".step_two") %></li>
        <li><%= raw t(".step_three") %></li>
        <li><%= raw t(".step_four") %></li>
        <li><%= raw t(".step_five") %></li>
      </ul>
    </div>
    <br /><br />
    <div class="center">
      <%= link_to t(".action"), new_network_path, class: "Button full" %>
    </div>
  </div>
</section>
