<% content_for :title_page do %>
  <h2 class="page-head-title">Dashboard</h2>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="widget widget-tile">
        <div id="spark1" class="chart sparkline"></div>
        <div class="data-info">
          <div class="desc">New Users today</div>
          <div class="value"><span class="indicator indicator-equal mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="<%= @users_today %>" class="number">0</span>
          </div>
        </div>
      </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <div class="widget widget-tile">
      <div id="spark2" class="chart sparkline"></div>
      <div class="data-info">
        <div class="desc">Total users</div>
        <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="<%= @users_all %>"  class="number">0</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="widget widget-tile">
        <div id="spark3" class="chart sparkline"></div>
        <div class="data-info">
          <div class="desc">Messages</div>
          <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="<%= @message_tot %>" class="number">0</span>
          </div>
        </div>
      </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="widget widget-tile">
        <div id="spark4" class="chart sparkline"></div>
        <div class="data-info">
          <div class="desc">New Comer</div>
          <div class="value"><span class="indicator indicator-negative mdi mdi-chevron-right"></span><span data-toggle="counter" data-end="<%= @newcomer_tot %>" class="number">0</span>
          </div>
        </div>
      </div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading panel-heading-divider">
	      <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync"></span><span class="icon mdi mdi-close"></span></div><span class="title">Users by day</span><span class="panel-subtitle">Registered users are grouped by day.</span>
	    </div>
	    <div class="panel-body">
	    	<%= line_chart @users_by_day.count %>
	    </div>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="panel panel-default">
	    <div class="panel-heading panel-heading-divider">
	      <div class="tools"><span class="icon mdi mdi-chevron-down"></span><span class="icon mdi mdi-refresh-sync"></span><span class="icon mdi mdi-close"></span></div><span class="title">Users by month</span><span class="panel-subtitle">Registered users are grouped by month.</span>
	    </div>
	    <div class="panel-body">
	    	<%= line_chart @users_by_month.count %>
	    </div>
	  </div>
	</div>

</div>
