<div class="columns profile">
	<div class="column col-12">
		<div class="clearfix">
	    <img class="rounded user-avatar" src="<%= @user.avatar.large_avatar %>">
			<h3 class="username"><%= @user.username %></h3>
			<span class="location"><%= @user.full_street_address %></span>
			<h6 class="job-title"><%= @user.job %></h6>
		</div>
	</div>
	<div class="column col-12">
		<p class="title-line"><%= t('default.interests') %></p>
    <%= render partial: "tags/list", locals: {tags: @user.tag_list} %>
		<b>About:</b>
		<p><%= @user.about %></p>
		<b>Age:</b>
		<p><%= @user.age %></p>
		<b>Languages:</b>
		<p><%= @user.languages %></p>
		<b>Country:</b>
		<p><%= @user.country_name %></p>
		<%if (!current_user.likes(@user)) %>
			<%= link_to t('btn.noc'), like_knok_path(@user), remote:true, method: :put, class:"noc-btn btn btn-primary btn-lg block" %>
		<% end %>
	</div>
</div>
