
<%= form_for(@user, :html => {:class => 'columns profile' }) do |f| %>
		<div class="column col-3 col-lg-12">
			<div class="edit-image">
	    	<img class="rounded user-avatar" id="preview" src="<%= @user.avatar.large_avatar %>">
	    	<%= f.file_field :avatar, class: "form-input input-lg", id: "photo-file" %>
	    	<button class="btn btn-sm">Upload</button>
	    </div>
	    <p><i style="font-size: 12px;">We highly recommend you to upload a profile picture in order to make your profile more personal and legitimate.</i></p>
	    <p class="title-line">Interests <%= link_to t('btn.edit'), tag_users_path, class: 'float-right'%></p>
	    <%= render partial: "tags/list", locals: {tags: @user.tag_list} %>
		</div>
		<div class="column col-6 col-lg-12">
			<% if current_user.sign_in_count == 1 %>
				<h1 class="no-margin">Thanks for your registration!</h1> 
				<p class="mr-30">We will <b>call you soon</b> to arrange your meet up. In the mean time complete your profile and discover other incredible <b>Blenders!</b></p>
			<% end %>
			<% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

		      <ul>
		      <% @user.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
	  	<% end %>
		 	<div class="form-group inline">
        	<%= f.label "Name and Surname", class: "form-label" %>
          <%= f.text_field :username, class: "form-input input-lg" %>
      </div>
			<div class="form-group inline right">
          <%= f.label :email, class: "form-label" %>
         	<%= f.text_field :email, class: "form-input input-lg" %>
	    </div>
	    <div class="clearfix"></div>
	     	<%= f.label "Are you?" %> 
     	<br>
     	<div class="form-group form-radio-btn clearfix">
		    <%= f.radio_button :local, true, :class => "for_local" %>
		    <%= f.label :local, 'Local', :value => true, class: "left" %>
		    <%= f.radio_button :local, false, :class => "for_new" %> 
		    <%= f.label :local, 'New in NL', :value => false, class: "right" %>
	  	</div>
	    <div class="form-group">
	        <%= f.label :full_street_address, class: "form-label" %>
	    		<%= f.text_field :full_street_address, placeholder: "In which city do you live?", class: "select-city" %>
	    </div>
	    <script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>
        <script>
        (function() {
          var placesAutocomplete = places({
            container: document.querySelector('.select-city'),
            type: 'city',
            aroundLatLngViaIP: false,
            templates: {
              value: function(suggestion) {
                return suggestion.name;
              }
            }
          });

          document.getElementById("photo-file").onchange = function () {
					    var reader = new FileReader();

					    reader.onload = function (e) {
					        // get loaded data and render thumbnail.
					        document.getElementById("preview").src = e.target.result;
					    };

					    // read the image file as a data URL.
					    reader.readAsDataURL(this.files[0]);
					};

        })();
      </script>
			<div class="form-group">
        <%= f.label :gender, class: "form-label" %>
        <label class="form-radio">
       		<%= f.radio_button :gender, 'm' %> 
					<i class="form-icon"></i>
					<%= f.label :gender, 'Male', :value => 'm' %>
				</label>
				<label class="form-radio">
       		<%= f.radio_button :gender, 'f' %> 
					<i class="form-icon"></i>
					<%= f.label :gender, 'Female', :value => 'f' %>
				</label>
	    </div>
			<div class="form-group">
          <%= f.label "Phone Number", class: "form-label" %>
          <i></i>
          <%= f.text_field :phone, class: "form-input input-lg" %>
	    </div>    
	    <div class="form-group">
	        <%= f.label "Work experience/academic background", class: "form-label" %>
	        <%= f.text_field :job, class: "form-input input-lg" %>
	    </div>   
	    <div class="form-group">
	        <%= f.label :birthday, class: "form-label" %>
          <%= f.date_select :birthday, {start_year: 1930, end_year: 2000}, { class: 'form-select select-lg'} %>
	    </div>    
	    <div class="form-group">
          <%= f.label :country, class: "form-label" %>
          <%= f.country_select :country, {}, {required: 'true', autofocus: 'true', class: 'form-select select-lg'} %>
	    </div>    
	  	<br>
			<%= f.submit t('btn.confirm'), class: "btn btn-primary btn-lg float-right" %>
		</div>
<% end %>

