<div class="Profile">

  <div class="sm-col-8 px2 mx-auto clearfix">
    <div class="details-box center">
      <% if @blend %>
        <% if @blend[:status] === "SENT" %>
          <%= render 'blends/actions' %>
        <% elsif @blend[:status] === "RECIVED" %>
          <%= render 'blends/actions' %>
        <% end %>
      <% else %>
        <h3 class="title-message"><%= t '.blend_txt' %></h3>
        <a href="#modal-1" data-modal-open class="Button BlendBtn" data-step="1" <%= t '.introjs_step_1_html' %> data-position= "right" ><%= t '.blend_btn', username: @user.name %></a>
      <% end %>
    </div>
  </div>

  <div class="sm-col-8 px2 mx-auto clearfix">
		<div class="sm-col sm-col-4">
      <img src="<%= @user.avatar.medium_avatar.url %>" class="rounded avatar" />
    </div>

		<div class="sm-col sm-col-8 px2">
      <div class="ProfileInfo">
        <h2><%= t('.profile_username', username: @user.name.capitalize) %></h2>
        <p class><%= t('.profile_age', age: @user.age) %></p>
      </div>

      <% if @user.education %>
        <section class="Detail">
          <h3><%= t('.profile_education') %></h3>
          <p><%= @user.education %></p>
        </section>
      <% end %>

      <% if @user.full_street_address %>
        <section class="Detail">
          <h3><%= t('.profile_address') %></h3>
          <p class="label-local"><%= @user.full_street_address.capitalize %></p>
        </section>
      <% end %>


      <% if @user.tag_list %>
        <section class="Detail">
          <h3><%= t('.profile_interest') %></h3>
          <div class="TagList">
            <% @user.tag_list.each do |tag| %>
            <div class="Tag">
              <span><%= tag %></span>
            </div>
            <% end %>
          </div>
        </section>
      <% end %>

      <% if @user.job %>
        <section class="Detail">
          <h3><%= t('.profile_study') %></h3>
          <p><%= @user.job.capitalize %></p>
        </section>
      <% end %>

      <% if @user.about %>
        <section class="Detail">
          <h3><%= t('.profile_about') %></h3>
          <p><%= @user.about %></p>
        </section>
      <% end %>
    </div>
	</div>
</div>

<div id="modal-1" class="modal-hider">
  <h3><%= t('.blend_message_html', username: @user.name.capitalize) %></h3>
  <%= form_for @newblend do |f| %>
    <%= hidden_field_tag(:recipient_id, @user.id) %>
    <%= f.text_area :message, placeholder: t('.blend_message_placeholder'), required:true, class:"Input" %>
    <%= f.submit t('.blend_message_btn'), class:"Button"%>
  <% end %>
</div>

<div class="modal">
  <div class="modal-inner">
    <span data-modal-close="">×</span>
    <div class="modal-content"></div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    var vanillaModal = new VanillaModal.default()
  });
</script>

<% content_for(:after_js) do %>
  <script>
    $(function () {
      window.initIntroJs('profile');
    });
  </script>
<% end %>
