<div class="Profile">
  <div class="sm-col-8 px2 mx-auto clearfix">
		<div class="sm-col sm-col-4">

      <img src="<%= @user.avatar.medium_avatar.url %>" class="rounded avatar" />
      <div class="clearfix">
        <% if @blend %>
          <% if @blend[:status] === "SENT" %>
            <%= render 'blend/actions' %>
          <% elsif @blend[:status] === "RECIVED" %>
            <%= render 'blend/actions' %>
          <% end %>
        <% else %>
          <%= link_to "BLEND", user_blends_path(@user), :method => :post, class:"Button BlendBtn" %>
          <a href="#modal-1" data-modal-open>Modal 1</a>
        <% end %>
      </div>
    </div>
		<div class="sm-col sm-col-8 px2">
      <div class="ProfileInfo">
        <h2>I'm <%= @user.name.capitalize %></h2>
        <p><%= @user.job.capitalize %></p>
        <p class><%= @user.age %> years old.</p>
					<% if @user.local %>
						<span class="label-local">LOCAL</span>
					<% else %>
						<span class="label-local">NEW COMER</span>
					<% end %>
      </div>

      <section class="Detail">
        <h3>My study:</h3>
        <p><%= @user.education %></p>
      </section>

      <section class="Detail">
        <h3>I like:</h3>
      </section>

			<section class="Detail">
				<h3>I Speak:</h3>
				<p><%= @user.languages %></p>
			</section>

      <section class="Detail">
        <h3>About me:</h3>
        <p><%= @user.about %></p>
      </section>

    </div>
	</div>
</div>

<div id="modal-1" class="modal-hider">Modal 1 content</div>

<div class="modal">
  <div class="modal-inner">
    <a data-modal-close>Close</a>
    <div class="modal-content"></div>
  </div>
</div>

<script>
$(function () {
  var vanillaModal = new VanillaModal.default()

});
</script>
