<div class="Profile">
  <div class="sm-col-8 px2 mx-auto clearfix">
		<div class="sm-col sm-col-4">
      <img src="<%= @user.avatar.medium_avatar.url %>" class="rounded avatar" />
      <div class="clearfix">
        <% if @blend %>
          <% if @blend[:status] === "SENT" %>
            <%= render 'blends/actions' %>
          <% elsif @blend[:status] === "RECIVED" %>
            <%= render 'blends/actions' %>
          <% end %>
        <% else %>
          <a href="#modal-1" data-modal-open class="Button BlendBtn">Blend with <%= @user.name %></a>
        <% end %>
      </div>
    </div>

		<div class="sm-col sm-col-8 px2">
      <div class="ProfileInfo">
        <h2>Hey, I'm <%= @user.name.capitalize %>!</h2>
        <p class><%= @user.age %> years old.</p>
					<!-- <% if @user.local %>
						<span class="label-local">LOCAL</span>
					<% else %>
						<span class="label-local">NEW COMER</span>
					<% end %> -->
      </div>

      <% if @user.education %>
        <section class="Detail">
          <h3>My study:</h3>
          <p><%= @user.education %></p>
        </section>
      <% end %>

      <% if @user.full_street_address %>
        <section class="Detail">
          <h3>City/village:</h3>
          <p class="label-local"><%= @user.full_street_address.capitalize %></p>
        </section>
      <% end %>


      <% if @user.tag_list %>
        <section class="Detail">
          <h3>Interest in:</h3>
          <div class="TagList">
            <% @user.tag_list.each do |tag| %>
            <div class="Tag">
              <span><%= tag %></span>
            </div>
            <% end %>
          </div>
        </section>
      <% end %>

      <% if @user.job %>
        <section class="Detail">
          <h3>Study / Job experience:</h3>
          <p><%= @user.job.capitalize %></p>
        </section>
      <% end %>

      <% if @user.about %>
        <section class="Detail">
          <h3>About me:</h3>
          <p><%= @user.about %></p>
        </section>
      <% end %>
    </div>
	</div>
</div>

<div id="modal-1" class="modal-hider">
  <h3>Say hello to <b><%= @user.name.capitalize %></b> and introduce yourself with some words.</h3>
  <%= form_for @newblend do |f| %>
    <%= hidden_field_tag(:recipient_id, @user.id) %>
    <%= f.text_area :message, class:"Input", placeholder:"😉 Hello, my name is ...", required:true %>
    <%= f.submit "Send message", class:"Button" %>
  <% end %>
</div>

<div class="modal">
  <div class="modal-inner">
    <span data-modal-close="">×</span>
    <div class="modal-content"></div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    var vanillaModal = new VanillaModal.default()
  });
</script>
