
<div class="row">
   <div class="eleven column">
     <h3>Forgot your password?</h3>
     <br>
     <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
       <%= devise_error_messages! %>

       <div class="field">
         <%= f.label :email %><br />
         <%= f.email_field :email, autofocus: true %>
       </div>
       <br>
       <div class="form-group">
         <%= f.submit "Send me reset password instructions", class: "btn btn btn-primary" %>
       </div>
     <% end %>
   </div>
 </div>
