<% if user_signed_in? && !current_user.is_profile_complete %>
  <div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">😄 Welcome on Blendin</h5>
        </div>

          <%= form_for(current_user) do |f| %>
            <div class="modal-body">
              <p>Before you start we need the following information to join in the Blendin community:</p>
              <div class="form-group">
                <label><%= t('settings.profile_form.address_label') %> <sup>*</sup></label>
                <%= f.text_field :full_street_address, class:"form-control location-input-form", required: true, placeholder: t('settings.profile_form.address_placeholder') %>
                <small class="form-text text-muted">We'll never share your address with anyone else.</small>
              </div>
              <div class="form-group">
                <label><%= t('settings.community_form.local_label') %></label>
                <%= f.select :local, {}, { prompt: "Please select an option" }, { class:"form-control", required: true } do %>
                  <%= options_for_select([[t('settings.community_form.im_local'), true], [t('settings.community_form.im_newcomer'), false]]) %>
                <% end %>
                <small class="form-text text-muted"></small>
              </div>
              <% if current_user.avatar.file.nil? %>
              <div class="form-group">
                <label>Your avatar:</label>
                <p><small><%= t('settings.photo_form.info') %></small></p>
                <div class="custom-file">
                  <%= f.file_field :avatar, class: "custom-file-input file-input-js", id: "inputGroupFile01" %>
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
              <% end %>
            </div>
            <div class="modal-footer">
              <%= f.submit 'Confirm and continue', class: "btn btn-primary"  %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <script>
    $('#myModal').modal({backdrop: 'static', keyboard: false})
  </script>
<% end %>
