<!-- <section>
  <div class="clearfix py2 px2">
    <div class="banner-event"><p>Join us this Friday 6 April / 5:00 pm - 8:00 pm for a <b>FREE</b> event at <b>BOOST</b> | <a target="_blank" href="https://www.blendinnow.nl/event/blendin-meetup-at-boost/">See more</a></p></div>
  </div>
</section> -->

<section class="Cards CardsContainer">
  <% if @users.empty? %>
    <p class="center"><%= raw t('.no_match_msg_htm')%> <a href="mailto:info@blendinnow.nl">info@blendinnow.nl</a></p>
  <% end %>
  <% @users.each_with_index do |user, i| %>
    <% if i == 0 %>
      <span data-step="1" <%= t('.introjs_step_1_html') %> >
    <% end %>
      <%= render 'users/card', user: user %>
    </span>
  <% end %>
</section>

<div class="clearfix center col-12">
  <div class="paginate-link">
    <%= link_to_prev_page @users, t('.prev_link') %>
    <%= link_to_next_page @users, t('.next_link') %>
  </div>
</div>


<% content_for(:after_js) do %>
  <script>
    $(function () {
      window.initIntroJs('home');
    });
  </script>
<% end %>
