	<% content_for :search do %>
		<div id="search-bar">
	  	<%= form_tag '', :method => :get, :"data-turboform" => :true do %>
			  <%= text_field_tag :berries, params[:berries], :id => 'berries-filter', :placeholder => "Search in blendin",  :autofocus => true %>
			<% end %>
		</div>
	<% end %>

<div id="filter-column" data-selected="<%= params[:berries] %>">
	<ul>
	  <% @tag_list.each do |tag| %>
	    <li style="background-color: <%= tag.tint %>; display: inline-block;">
	      <%= tag.name %>
	    </li>
	  <% end %>
	</ul>
</div>

<div class="columns">
	<div class="column cards">
		<% @users.each do |user| %>
			<div class="card mb-5">
		      
		      <div class="card-header">
		      		<div class="chip">
		              <div class="chip-icon">
		                  <img src="<%= user.picture.medium_avatar %>" class="avatar avatar-modal" data-image="<%= user.picture %>">
		              </div>
		              <div class="chip-content">
		                <h4 class="card-title"><%= user.name %></h4>
		                <h6 class="card-meta">Software and hardware</h6>
		              </div>
		          </div>

		      </div>
		      
		      <div class="card-body">
		         <%= user.about %>
		      </div>
		      
		      <div class="card-footer clearfix">
            <%= render partial: "tags/list", locals: {tags: user.cached_tag_list} %>
            <div class="float-right">
		      		  <% if !current_user.likes(user) %>					  
					    			 <%= link_to like_knok_path(user), class: 'btn btn-sm btn-berry', method: :put, remote: true do %>
	                    <span class="icon icon-berry"></span> berry
	                  <% end %>	
								<% end %>
		      		</div>
			    </div>
		  </div>
		<% end %>
	</div>
</div>

<script>
	var available_tags = <%= @tags %>
</script>
