	<% content_for :search do %>
		<div id="search-bar">
	  	<%= form_tag '', :method => :get, :"data-turboform" => :true do %>
			  <%= text_field_tag :berries, params[:berries], :id => 'berries-filter', :placeholder => "Search in blendin",  :autofocus => true %>
			<% end %>
		</div>
	<% end %>

<div id="filter-column" data-selected="<%= params[:berries] %>">
	<ul>
	  <% @tag_list.each do |tag| %>
	    <li><p><%= truncate(tag.name, length: 15) %></p><span><%= tag.count %></span></li>
	  <% end %>
	</ul>
</div>

<div id="center-side" class="container">
		<% @users.each do |user| %>
	        <div class="card">
	            <div class="card-image">
	                <img class="img-responsive" src="<%= user.avatar.large_avatar %>">
	            		<div class="shape"></div>
	            </div>
	            <div class="card-header">
	                <h4 class="card-title"><%= user.name %></h4>
	                <h6 class="card-meta">Software and hardware</h6>
	            </div>
		          <div class="card-footer">		
		          	<% if !current_user.likes(user) %>		
					    			 <%= link_to "Blend", like_knok_path(user), class: 'btn btn-sm', method: :put, remote: true %>
								<% else %>
										<%= link_to "Blend", like_knok_path(user), class: 'btn btn-sm', method: :put, remote: true %>
								<% end %>
  	          </div>
	        </div>
		<% end %>
</div>
<div id="right-side" class="container">

</div>

<script>
	var available_tags = <%= @tags %>
</script>
