<% content_for :search do %>
		<div class="column col-5 search-column">
			<div id="search-bar" data-turbolinks-permanent>
	      <%= form_tag '', :method => :get, :"data-turboform" => :true do %>
	        <%= text_field_tag :tags, params[:t], :id => 'tags-filter', :placeholder => "Search in blendin",  :autofocus => true %>
	      <% end %>
	      <script>
	        var available_tags = <%= @tags %>
	      </script>
	    </div>
    </div>
<% end %>

<section class="main">
	<div id="center-side" class="users-layout">
		<div class="cards-list" id="users-list" data-turbolinks-partial="users">
			<%= render @users %>
		</div>
		<%= will_paginate @users %>
	</div>
</section>


<%= content_for :aside_left do %>
  	<aside class="aside aside-1" data-turbolinks-permanent>
  	<p class="title-line no-line"><%= t('default.mostused') %></p>
  	<div id="filter-column">
			<ul>
			  <% @tag_list.each do |tag| %>
			  	<li><%= active_link_to(tag.name, root_path(t: tag.name), :active => :exact, data: { turbolinks: true }) %><span><%= tag.count %></span></li>
			  <% end %>
			</ul>
		</div>
  	</aside>
<% end %>

