<div class="col-sm-4">
  <div class="b-card">
    <%= link_to event_path(event.id) do %>
      <div class="b-image-cover d-flex align-items-end" style="background-image: url(<%= event.photo %>)"></div>
    <% end %>
    <div class="b-topic-label"><%= event.topic %></div>
    <h2 class="b-title"><%= event.name %></h2>
    <div class="tagline tagline-promo-40"><%= event.date.strftime("%A, %e %b %Y")%> - <%= event.time.strftime("%H:%M")%></div>
    <div><%= link_to "See more", event_path(event.id) %></div>
  </div>
</div>
