<% background = "https://picsum.photos/200/300"
  %>

<div class="row mx-auto my-5 event-card">
  <div class="col-md-3 my-4 d-flex justify-content-around">
    <div class="event-normal-card-img" style="background-image:url(<%= background %>)">
    </div>
  </div>
  <div class="col-md-9 d-flex flex-column justify-content-around">
    <div class="d-flex justify-content-between align-items-baseline px-4">
      <h2 class="card-title"><%= event.name %></h2>
      <h3 class = "my-0 "> <%= event.date.strftime("%A, %e %b %Y")%> - <%= event.time.strftime("%H:%M")%></h3>
    </div>
    <div class="d-flex justify-content-around ">
      <%= link_to "See More", event_path(event.id), class:"btn btn-primary"  %>
      <button class="btn btn-primary unsuscribe-button" type="button" name="button" data-toggle="modal" data-target="#manage_subscriptions" value ="<%= current_user.partecipation_id(event) %>"> <%=  t('events._card_my_event.cantattend')%> </button>
    </div>
  </div>
  <%= link_to "edit", edit_event_path(event.id) %>
  <%= link_to "destroy", event_path(event.id), method: :delete %>
</div>
