<div class="container">
  <% if user_signed_in? && @my_events.any? %>
    <h3 class="my-4"><%= t('events.index.my_next_events') %></h3>
    <div class="row">
      <% @my_events.each do |event|  %>
        <%= render "card_my_events", event: event %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container">
  <h3 class="mt-4"><%= t('events.index.small_group') %></h3>
  <p><%= t('events.index.small_description') %></p>
  <div class="row">
    <% @normal_events.each do |event|  %>
      <%= render "card_small_group_events", event: event %>
    <% end %>
  </div>
</div>


<div class="container">
  <h3 class="mt-4"><%= t('events.index.community') %></h3>
  <p><%= t('events.index.community_description') %></p>
  <div class="row">
    <% @community_events.each do |event|  %>
      <%= render "card_community", event: event %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="manage_subscriptions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modal-body" class="modal-body"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  generateSubscriptionModal();
  generateUnsubscriptionModal();
</script>
