

<div class="row">
  <div class="col-sm-4 mb-3">
    <img class="img-fluid" id="preview-js" width="100%" src="<%= @user.avatar.medium_avatar %>">
  </div>
  <div class="col-sm-8">
  <p><%= t('.info') %></p>
  <%= form_for(@user, html: {id:'form-photo-js'}) do |f| %>

    <div class="input-group mb-3">
      <div class="custom-file">
        <%= f.file_field :avatar, class: "custom-file-input file-input-js", id: "inputGroupFile01" %>
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>

    <p class="error"></p>
    <div class="loader hidden"></div>
  <% end %>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>

  <script>
  $(function () {
    let inputFile = $('.file-input-js');
    let errorText = "<%= t('.error') %>";
    let loader = $('.loader');

    inputFile.change(function(){
      var input = this;
      let files = input.files;
      var url = $(this).val();
      var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
      checkFileSource(files, ext, upload);
    });

    function checkFileSource(files, exstension, onSuccess){
      let formatAllowed = files && files[0] && (exstension == "png" || exstension == "jpeg" || exstension == "jpg");
      if (!formatAllowed) {
        printError();
      };
      onSuccess();
    }

    function upload() {
      loader.removeClass('hidden');
      $("#form-photo-js").submit();
    }

    function printError() {
      $('.error').html(errorText);
    }

    function showPreview() {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#preview-js').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }

  });
</script>
