<section class="jumbotron main-color-bg" style="">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t('.title') %></h1>
    <p class="lead"><%= t('.lead') %></p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <%= image_tag("coffe-blendin.jpg", class: "", style:"width: 100%; margin: 0 auto;") %>
      </div>
    </div>
    <div class="col-lg-8">
      <h3><%= t('.title-step') %></h3>
      <p><%= t('.step-1') %> </p>
      <p><%= t('.step-2') %> </p>
      <p><%= t('.step-3') %> </p>
      <p><%= t('.step-4') %> </p>
      <p><%= t('.step-5') %> </p>
      <div class="card typeform-widget" data-url="https://codegull.typeform.com/to/YJJO8h" style="width: 100%; height:300px; margin-top:30px;"></div>
      <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
  </div>
