<ul id="select-tag-list">
		<% tags.each do |tag| %>
			<li class="tag-bubble">
			    <span><%= tag %></span>
			</li>
		<% end %>
<!--     <button id="add-new-tag">add</button>
 -->    
    <div class="clearfix"></div>
</ul>

<%= form_for(@user)do |f| %>
  <div class="form-group">
    <%= f.text_field :tag_list, hidden:true %>
  </div>
  <div class="form-group">
    <%= f.submit t('btn.next'), :class => 'btn-next float-right', :id => "btn-add-tag" %>
  </div>
<% end %>

<script>
  var usertags = "<%= @usertags %>";
</script>