<div class="columns">
  <div class="column col-12 centered tag-selection-box">
    <h3><%=  t("tag_selection.title") %></h3>
    <p><%=  t("tag_selection.subtitle") %></p>


    <ul id="select-tag-list" class="clearfix">
        <li class="tag-bubble">
          <span>Art</span>
        </li>
        <li class="tag-bubble">
          <span>Animals</span>
        </li>
        <li class="tag-bubble">
          <span>Basketball</span>
        </li>
        <li class="tag-bubble">
          <span>Books</span>
        </li>
        <li class="tag-bubble">
          <span>Cooking</span>
        </li>
        <li class="tag-bubble">
          <span>Camping</span>
        </li>
        <li class="tag-bubble">
          <span>Cultures</span>
        </li>
        <li class="tag-bubble">
          <span>Dancing</span>
        </li>
        <li class="tag-bubble">
          <span>Diving</span>
        </li>
        <li class="tag-bubble">
          <span>Drawing</span>
        </li>
        <li class="tag-bubble">
          <span>Family</span>
        </li>
        <li class="tag-bubble">
          <span>Finance</span>
        </li>
        <li class="tag-bubble">
          <span>Friends</span>
        </li>
        <li class="tag-bubble">
          <span>Football</span>
        </li>
        <li class="tag-bubble">
          <span>Geography</span>
        </li>
        <li class="tag-bubble">
          <span>Guitar</span>
        </li>
        <li class="tag-bubble">
          <span>Hiking/walks</span>
        </li>
        <li class="tag-bubble">
          <span>History</span>
        </li>
        <li class="tag-bubble">
          <span>Hip hop</span>
        </li>
        <li class="tag-bubble">
          <span>International relations</span>
        </li>
        <li class="tag-bubble">
          <span>Law</span>
        </li>
        <li class="tag-bubble">
          <span>Medicine</span>
        </li>
        <li class="tag-bubble">
          <span>Movies</span>
        </li>
        <li class="tag-bubble">
          <span>Music</span>
        </li>
        <li class="tag-bubble">
          <span>Photography</span>
        </li>
        <li class="tag-bubble">
          <span>Rap</span>
        </li>
        <li class="tag-bubble">
          <span>Singing</span>
        </li>
        <li class="tag-bubble">
          <span>Sports</span>
        </li>
        <li class="tag-bubble">
          <span>Science</span>
        </li>
        <li class="tag-bubble">
          <span>Swimming</span>
        </li>
        <li class="tag-bubble">
          <span>Travel</span>
        </li>
        <li class="tag-bubble">
          <span>Writing</span>
        </li>
    </ul>

    <%= form_for(@user)do |f| %>
      <div class="form-group">
        <%= f.text_field :tag_list, hidden:true %>
      </div>
        <%= f.submit t('btn.next'), :class => 'btn-next float-right', :id => "submit-user-tags" %>
    <% end %>
  </div>
</div>
<script>
  var usertags = "<%= @usertags %>";
</script>
