<section class="EditProfile clearfix">
  <div class="sm-col-6 lg-col-6 mx-auto">
    <% if @user.sign_in_count > 1 %>
      <%= render 'top_nav' %>
    <% end %>
    <%= form_for(@user, html: {id:'wizard-form-js'}) do |f| %>
      <label class="Label center" data-step="1" <%= t('.introjs_step_1_html') %>><%= t('.label') %></label>
      <br>
      <div class="DropArea">
        <img class="rounded avatar-js" id="preview-js" src="<%= @user.avatar.medium_avatar %>">
        <%= f.file_field :avatar, class: "InputUpload"  %>
      </div>
      <p class="error"></p>
      <div class="center">
        <%= link_to t('.btn_skip'), root_url, class:"Button full back" %>
        <%= f.submit t('.btn_upload'), class:"Button full" %>
      </div>
    <% end %>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/places.js/1/places.min.js"></script>

  <script>
  $(function () {

    $('.InputUpload').change(function(){
      var input = this;
      var url = $(this).val();
      var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
      if (input.files && input.files[0] && (ext == "png" || ext == "jpeg" || ext == "jpg"))
       {
          var reader = new FileReader();

          reader.onload = function (e) {
             $('#preview-js').attr('src', e.target.result);
          }
         reader.readAsDataURL(input.files[0]);
      }
      else
      {
        $('.error').html(<%= t('.error')%>);
      }
    });

  });
</script>
<!-- Display the intro tour only one time -->
<% content_for(:after_js) do %>
  <script>
  //   introJs.fn.oncomplete(
  //     function() {
  //   if (document.cookie.replace(/(?:(?:^|.*;\s*)introViewPhoto\s*\=\s*([^;]*).*$)|^.*$/, "$1") !== "true") {
  //     introJs().start();
  //     document.cookie = "introViewPhoto=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
  //   }
  // });
    introJs().start();
  </script>
<% end %>
