<nav id="overlord" class="">
  
  <figure id="logo_top" class="">
    <%= link_to 'Blendin', root_path %>
  </figure>

  <% if user_signed_in? %>
      <%= yield :search %>
      <figure id="message" class="">
        <%= link_to 'Messages', chat_rooms_path %>
      </figure>
      <figure id="avatar">
        <img src="<%= current_user.picture.small_avatar %>">
      </figure>
      <figure id="hamburger">
          <a href="#menu" id="hamburger_button">Menu</a>
      </figure>
  <% else %>
      <figure id="main-login">
        <%= link_to('Login', new_user_session_path, class: "btn btn-lg")  %>
      </figure>
  <% end %>

  <ul id="dropdown" class="">
      <li class="dropdown_logo">
        <a href="/" class="logoize">Navigation</a>
      </li>
      <% if user_signed_in? %>
          <li><%= link_to 'Add berries', berries_user_path(current_user), :active => :exclusive %></li>
          <li><%= link_to 'Edit profile', edit_user_path(current_user), :active => :exclusive %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete)%></li>
      <% else %>
      <% end %>
      <li>
        <a href="http://wenoc.com" target="_blank"><br>@wenoc</a>
      </li>
  </ul>

</nav>

