<div class="columns">
  <div class="column col-12">
		<h2>Select your availability:</h2>
		<p>Tell us when you are available to meet up (preferably at least two different moments)</p>
		<br />
		<div id="availability-module">
			<ul>
				<b>Monday</b>
				 <% hour = 10 %>					 
				 <% for i in 1..12 do %>
				 	<% hour_b = hour + 1 %>
				 	<% day="mon"%>
			    <li>
						<input type="checkbox" name="check" value="<%=day%>-<%= hour %>/<%= hour_b %>" id="<%=day%>-<%= hour %>-<%= hour_b %>">
						<label for="<%=day%>-<%= hour %>-<%= hour_b %>"><%= hour %> to <%= hour_b %></label>
					</li>
					<% hour = hour + 1 %>
			  <% end %>
			</ul>

			<ul>
				<b>Tuesday</b>
				<% hour = 10 %>					 
				<% for i in 1..12 do %>
				 	<% hour_b = hour + 1 %>
				 	<% day="tue"%>
			    <li>
						<input type="checkbox" name="check" value="<%=day%>-<%= hour %>/<%= hour_b %>" id="<%=day%>-<%= hour %>-<%= hour_b %>">
						<label for="<%=day%>-<%= hour %>-<%= hour_b %>"><%= hour %> to <%= hour_b %></label>
					</li>
					<% hour = hour + 1 %>
			  <% end %>
			</ul>

			<ul>
				<b>Wednesday</b>
				<% hour = 10 %>					 
				<% for i in 1..12 do %>
				 	<% hour_b = hour + 1 %>
				 	<% day="wed"%>
			    <li>
						<input type="checkbox" name="check" value="<%=day%>-<%= hour %>/<%= hour_b %>" id="<%=day%>-<%= hour %>-<%= hour_b %>">
						<label for="<%=day%>-<%= hour %>-<%= hour_b %>"><%= hour %> to <%= hour_b %></label>
					</li>
					<% hour = hour + 1 %>
			  <% end %>
			</ul>

			<ul>
				<b>Thursday</b>
				<% hour = 10 %>					 
				<% for i in 1..12 do %>
				 	<% hour_b = hour + 1 %>
				 	<% day="thu"%>
			    <li>
						<input type="checkbox" name="check" value="<%=day%>-<%= hour %>/<%= hour_b %>" id="<%=day%>-<%= hour %>-<%= hour_b %>">
						<label for="<%=day%>-<%= hour %>-<%= hour_b %>"><%= hour %> to <%= hour_b %></label>
					</li>
					<% hour = hour + 1 %>
			  <% end %>
			</ul>

			<ul>
				<b>Friday</b>
				<% hour = 10 %>					 
				<% for i in 1..12 do %>
				 	<% hour_b = hour + 1 %>
				 	<% day="fri"%>
			    <li>
						<input type="checkbox" name="check" value="<%=day%>-<%= hour %>/<%= hour_b %>" id="<%=day%>-<%= hour %>-<%= hour_b %>">
						<label for="<%=day%>-<%= hour %>-<%= hour_b %>"><%= hour %> to <%= hour_b %></label>
					</li>
					<% hour = hour + 1 %>
			  <% end %>
			</ul>

			<ul>
				<b>Saturday</b>
				<% hour = 10 %>					 
				<% for i in 1..12 do %>
				 	<% hour_b = hour + 1 %>
				 	<% day="sat"%>
			    <li>
						<input type="checkbox" name="check" value="<%=day%>-<%= hour %>/<%= hour_b %>" id="<%=day%>-<%= hour %>-<%= hour_b %>">
						<label for="<%=day%>-<%= hour %>-<%= hour_b %>"><%= hour %> to <%= hour_b %></label>
					</li>
					<% hour = hour + 1 %>
			  <% end %>
			</ul>

			<ul>
				<b>Sunday</b>
				<% hour = 10 %>					 
				<% for i in 1..12 do %>
				 	<% hour_b = hour + 1 %>
				 	<% day="sun"%>
			    <li>
						<input type="checkbox" name="check" value="<%=day%>-<%= hour %>/<%= hour_b %>" id="<%=day%>-<%= hour %>-<%= hour_b %>">
						<label for="<%=day%>-<%= hour %>-<%= hour_b %>"><%= hour %> to <%= hour_b %></label>
					</li>
					<% hour = hour + 1 %>
			  <% end %>
			</ul>
		</div>

		<a id="btn" class="btn btn-xl btn-primary float-right">Save</a>

		<script>
			var arr_sort = new Array();
			var current_list = <%= @availabilities %>;
			var ajaxLink = location.origin +"<%= availabilities_path %>";
			arr_sort = current_list

			console.log(arr_sort)
			initCheckValues();

			$("#btn").click(function(){
				$.ajax({
			    type: "post",
			    url: ajaxLink,
			    data: { 'schedule' : arr_sort },
			    success: function(data){
			    	
			    	swal({
						  title: 'Good job!',
						  text: 'We changed your availability!',
						  type:'success',
						  showCancelButton: true
						}).then(function () {
						  Turbolinks.visit("/", { action: "replace" })
						});
			    },
			    error: function(error) {
			    	console.log(error);
				  }
				});
			});


			function initCheckValues() {
				
				$("input[name*='check']").filter(function( index, el ) {
		        var el = $(el);
		        var text = el.val().replace(/\s/g, '');
		        $.each(arr_sort, function(i,v){
		            if (text == v) {
		               $(el).prop('checked', true);
		            }
		        });
		    });

		    $("input[name*='check']").click(function() {
			    if ($(this).prop('checked')){
			        arr_sort.push($(this).val());
			    }
			    else{
			        removeVal(arr_sort, $(this).val());
			    }
			    console.log(arr_sort);
				});

		    console.log(ajaxLink)
			}

			function removeVal(arr, val) {
			    for(var i = 0; i < arr.length; i++)
			    {
			        if (arr[i] == val)
			            arr.splice(i, 1);
			    }
			}

		</script>
	</div>
</div>