<!DOCTYPE html>
<html>
  <head>
    <title>Blendin</title>
    <meta name="description" content="Berry helps you to connect with people that share your same interests :)">
 
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%=  yield (:body_class) %>">
          
  <div class="wrapper container grid-960">

    <header class="header">
      <div class="columns">
          <div class="column col-xs-6 col-2">
            <%= link_to root_path do %>
                <%= image_tag("logo-app.png", class: "logo-app") %>
            <% end %>
          </div>
          
          <%= yield :search %>
          <% if user_signed_in? %>
            <%= render partial: "nav/main" %>
          <% end %>
      </div>
    </header>

    <%= yield :aside_left %>
    <%= yield %>
    <%= yield :aside_right %>

    <footer class="footer">Footer</footer>
  </div>

  <div id="panel-overlay">
    <button id="close-overlay">CLOSE</button>
    <div class="content">
    </div>
  </div>

  </body>

</html>
