<!DOCTYPE html>
<html>
  <head>
    <title>Blendin</title>
    <meta name="description" content="Berry helps you to connect with people that share your same interests :)">
    <meta name="viewport" content="width=device-width">
 
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="overlord loaded <%= yield (:body_class) %>">
          
          <%= render partial: "nav/main_nav" %>

          <% if notice || alert %>
            <div class="container grid-960">
            <div class="columns">
              <div class="column col-5">
                  <% if notice %>
                    <div class="toast">
                      <button class="btn btn-clear float-right close-btn"></button>
                      <%= notice %>
                    </div>
                  <% end %>
                  <% if alert %>
                    <div class="toast toast-danger">
                      <button class="btn btn-clear float-right close-btn"></button>
                      <%= alert %>
                    </div>
                  <% end %>
              </div>
            </div>
            </div>
          <% end %>

      <main content>
        <%= yield %>
      </main>

  </body>
</html>
