  <!DOCTYPE html>
<html>
  <head>
    <title><%= t('seo.title') %></title>
    <meta name="description" content="<%= t('seo.description') %>">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport' />

    <%= csrf_meta_tags %>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%=  yield (:body_class) %>">

  <div class="wrapper container grid-960">

    <header class="header">
      <div class="columns">
          <div class="column col-xs-5 col-3 logo-column">
            <%= link_to root_path do %>
                <%= image_tag("logo-app.png", class: "logo-app") %>
            <% end %>
          </div>

          <%= yield :search %>
          <% if user_signed_in? %>
            <%= render partial: "nav/main" %>
          <% end %>
      </div>
    </header>

    <%= yield :aside_left %>

    <%= yield %>
    <%= yield :aside_right %>

    <footer class="footer">
      <button id="drop-footer">Open</button>
      <div id="content-drop-footer" class="sub-nav">
        <ul>
            <li><a href="http://blendinnow.info" target="_blank">About Blendin</a></li>
            <li><a href="https://www.iubenda.com/privacy-policy/7951305" target="_blank">Privacy Policy</a></li>
            <li><a href="https://www.iubenda.com/privacy-policy/7951305/cookie-policy" target="_blank">Cookie Policy</a></li>

        </ul>
      </div>
    </footer>

  </div>

  <div id="panel-overlay">
    <button id="close-overlay">CLOSE</button>
    <div class="content"></div>
    <div class="shadow-element"></div>
  </div>

  <span class="info-overlay" onclick="openNav()">?</span>

  <div id="myNav" class="o-menu">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="o-menu-content">
      <p><b>Blendin</b> is about bringing people together.<br /> We have seen a growing gap between <b>newcomers</b> and <b>locals</b> in Dutch society and we wish to bridge this gap. <br />That's why we have created this social platform, where everyone can sign up and create an online profile. Based on your shared interests and hobbies you can easily make new connections and start Blendin!</p>
      <ul>
      <li><span>1.</span>Make a profile</li>
      <li><span>2.</span>Tell us when you are available to meet up</li>
      <li><span>3.</span>Choose one of the best matches we generate for you</li>
      <li><span>4.</span>Chat and suggest a meet up location to start Blendin!</li>
      </ul>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-72581252-5', 'auto');
    ga('send', 'pageview');
  </script>

  </body>

</html>
