<!DOCTYPE html>
<html>
  <head>
    <title><%= t('seo.title') %></title>
    <meta name="description" content="<%= t('seo.description') %>">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%=  yield (:body_class) %>">
          
  <div class="wrapper container grid-960">

    <header class="header">
      <div class="columns">
          <div class="column col-xs-5 col-3 logo-column">
            <%= link_to root_path do %>
                <%= image_tag("logo-app.png", class: "logo-app") %>
            <% end %>
          </div>
          
          <%= yield :search %>
          <% if user_signed_in? %>
            <%= render partial: "nav/main" %>
          <% end %>
      </div>
    </header>
    
    <%= yield :aside_left %>

    <%= yield %>
    <%= yield :aside_right %>

    <footer class="footer">
      <button id="drop-footer">Open</button>

      <div id="content-drop-footer" class="sub-nav">
        <ul>
            <li><a href="http://blendinnow.info" target="_blank">About Blendin</a></li>
            <li><a href="https://www.iubenda.com/privacy-policy/7951305" target="_blank">Privacy Policy</a></li>
            <li><a href="https://www.iubenda.com/privacy-policy/7951305/cookie-policy" target="_blank">Cookie Policy</a></li>
        </ul>
      </div>

    </footer>

  </div>

  <div id="panel-overlay">
    <button id="close-overlay">CLOSE</button>
    <div class="content"></div>
    <div class="shadow-element"></div>
  </div>

  </body>

</html>
