<!DOCTYPE html>
<html>
  <head>
    <title>Blendin</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport' />
    <%= csrf_meta_tags %>    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic%7CMontserrat:700,400&amp;subset=latin,latin" media="all">
    <%= stylesheet_link_tag 'auth', media: 'all' %>
  </head>

  <body>
    <%= devise_error_messages! %>
    <!-- Notices and Alerts -->
    <% if notice %>
      <div id="error_explanation"><p><%= notice %></p></div>
    <% elsif alert %>
      <div id="error_explanation"><p><%= alert %></p></div>
    <% end %>
    
    <main class="page_wrapper">
      <div style="background-image: url()" class="features features--06">
        <div class="container features__container--06">
          <div class="features__title_box features__title_box--06">
            <h2 class="features__title--06">
              <%= link_to(root_path, class: "logo_top" ) do %>
                <%= image_tag("logo-app.png", class: "") %>
              <% end %> 
              we are one.
            </h2>
            <span class="features__description features__description--06">We connect newcomers (refugees) with Dutch locals, if you are a newcomer or a Dutch citizen we can connect you by:</span>
          </div>
          <div class="row features__row">
            <div class="col-md-6 col-lg-3 features__item features__item--06">
              <div class="features__item_icon_circle features__item_icon_circle--06 features__item_icon_circle--tune-icon--blue features__item_icon_circle--icon--big"></div>
              <h3 class="features__item_title">Messenger</h3><span class="features__item_text features__item_text--06">Chatting with one of our team members. We will ask for some information about yourself and your availability for a meet up!</span><a href="https://www.facebook.com/blendinnow/" class="button button--blue button--gray-shadow">Chat with us</a>
            </div>
            <div class="col-md-6 col-lg-3 features__item features__item--06">
              <div class="features__item_icon_circle features__item_icon_circle--06 features__item_icon_circle--zip-icon--blue features__item_icon_circle--icon--big"></div>
              <h3 class="features__item_title">Phone</h3><span class="features__item_text features__item_text--06">Call us or send a Whatsapp message to get connected<br> by one of our team members. <br>Phone number:<br><a href="tel:+31 6 199978114">+ 31 6 199 978 114</a></span><a href="tel:+31 6 199978114" class="button button--blue button--gray-shadow">Call us</a>
            </div>
            <div class="col-md-6 col-lg-3 features__item features__item--06">
              <div class="features__item_icon_circle features__item_icon_circle--06 features__item_icon_circle--tune-icon features__item_icon_circle--icon--big"></div>
              <h3 class="features__item_title"><%= link_to "Login", new_user_session_path %> or <%= link_to "Register", new_user_registration_path %></h3>
                <%= yield %>
            </div>
            <div class="col-md-6 col-lg-3 features__item features__item--06">
              <div id="leanfund-widget" data-locale="en" data-project-id="10" data-border="3" data-border-color="2080C6" data-background-color="ffffff" data-opacity="0.95" data-button-color="2080C6" data-border-radius="5" data-progress-meter-color="2080C6" data-font-color="424D54" style="margin: 0 auto; max-width: 1000px" ></div>
            </div>
            <div class="col-md-6 col-lg-3 features__item features__item--06">
              <div id="leanfund-widget" data-locale="en" data-project-id="10" data-border="3" data-border-color="2080C6" data-background-color="ffffff" data-opacity="0.95" data-button-color="2080C6" data-border-radius="5" data-progress-meter-color="2080C6" data-font-color="424D54" style="margin: 0 auto; max-width: 1000px" ></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer--05">
        <div class="footer__main_box--05">
          <div class="container footer__container">
            <div class="footer__left_box--05">
              <%= link_to(root_path, class: "footer__logo_box footer__logo_box--05" ) do %>
                <%= image_tag("logo-app.png", class: "footer__logo footer__logo--05") %>
              <% end %>
              <span class="footer__description footer__description--05">
                We have seen a growing gap between <b>newcomers</b> and <b>locals</b> in Dutch society and we wish to bridge this gap.
              </span>
            </div>
            <div class="footer__center_box--05">
              <ul class="footer__menu footer__menu--05">
                <li class="footer__menu__item footer__menu__item--05"><a href="http://blendinnow.info" target="_blank" class="footer__menu__link">About</a></li>
                <li class="footer__menu__item footer__menu__item--05"><a href="https://blendinnow.info/philosophy/" class="footer__menu__link">Philosophy</a></li>
                <li class="footer__menu__item footer__menu__item--05"><a href="https://blendinnow.info/donate-now/" class="footer__menu__link">Donate</a></li>
              </ul>
              <ul class="footer__menu footer__menu--05">
                <li class="footer__menu__item footer__menu__item--05"><a href="https://blendinnow.info/media/" class="footer__menu__link">Media</a></li>
                <li class="footer__menu__item footer__menu__item--05"><a href="https://blendinnow.info/about-us/" class="footer__menu__link">Team</a></li>
                <li class="footer__menu__item footer__menu__item--05"><a href="https://www.instagram.com/blendinnow/?hl=en" class="footer__menu__link">Instagram</a></li>
              </ul>
              <ul class="footer__menu footer__menu--05">
                <li class="footer__menu__item footer__menu__item--05"><a href="#" class="footer__menu__link">Terms</a></li>
                <li class="footer__menu__item footer__menu__item--05"><a href="https://blendinnow.info/contact/" class="footer__menu__link">Contact Us</a></li>
              </ul>
            </div>
            <div class="footer__right_box--05"><span class="footer__social_text--05">Follow us:</span>
              <ul class="social footer__social--05 footer__social_box">
                <li class="social__item social__item--left_margin"><a href="#" title="Say hello in Facebook!" class="social__link social__link--rounded social__link--facebook"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__description_box--05">
          <div class="container footer__container"><span class="footer__copyright footer__copyright--05">© Blendin, 2017</span></div>
        </div>
      </footer>
    </main>

    <script src="https://www.leanfund.us/widget.js"></script>
    <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {
        cookiePolicyId: 7951305,
        siteId: 647263,
        lang: "nl",
        priorConsent: false
      };
    </script>
    <script type="text/javascript" src= "//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>

  </body>
</html>
