<!DOCTYPE html>
<html>
  <head>
    <title>Noc</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
        <% if notice || alert %>
          <div class="container">
          <div class="columns">
            <div class="column col-5">
                <% if notice %>
                  <div class="toast">
                    <button class="btn btn-clear float-right close-btn"></button>
                    <%= notice %>
                  </div>
                <% end %>
                <% if alert %>
                  <div class="toast toast-danger">
                    <button class="btn btn-clear float-right close-btn"></button>
                    <%= alert %>
                  </div>
                <% end %>
            </div>
          </div>
          </div>
        <% end %>
      
      <main content>
        <%= yield %>
      </main>

  </body>
</html>
